<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating"> Nome </ion-label>
    <ion-input [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Email </ion-label>
    <ion-input [(ngModel)]="usuario.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Senha </ion-label>
    <ion-input type="password" [(ngModel)]="usuario.senha"></ion-input>
  </ion-item>
    <ion-button expand = "full " (click)="salvar()">Salvar</ion-button>
  <ion-button expand = "full " href="pai">Como será seu filho(a)? </ion-button>
</ion-content>
