<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating"> Nome </ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Email </ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Senha </ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>
  <ion-button expand = "full " (click)="verificar()">Entrar</ion-button>
  <ion-button expand = "full " href="carac-pais">Como será seu filho(a)? </ion-button>
</ion-content>
